@charset "UTF-8";

/*
 em HTML é id = em CSS é #(so pode um elemento em apenas 1 HTML) 
 em HTML é class = em CSS é .(pode varios elementos)
*/
body  {
    background-color: #51ACE0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #116a8a;
}

h1#principal {
    text-align: center;
    color: #6ba0dd;
    background-color: #1D3D50;
    
}

h2 {
    color: #00415a;
}

p {
    color: #132936;
}

.basico {
    color: #a0a164;
    font-weight: bold;
}

.intermediario {
    color: #83b981;
    font-weight: lighter;
}

.avançado {
    color: #9b6363;
}

.destaque {
    background-color: aqua;
}