@charset "UTF-8";

body {
            background-color: darkslategray;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }

        h1 {
            color: beige;
        }

        h2 {
            color: bisque;
        }
        
        p {
            color: aliceblue;
            text-align: justify;
        }