@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Noto+Sans+JP:wght@100..900&display=swap');
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    background-color: aqua;
}

h1 {
    font-family: 'Roboto' sans-serif;
    
}

h2 {
    font-family: 'Work Sans', sans-serif;
}

p {
    font-family: 'Bitcount Prop Single', Verdana;
}