@font-face {
    font-family: 'Alista';
    src: url('Fonts/Alista\ Script.otf') format('opentype'), url('Fonts/Alista\ Script.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

    /*
         Tipos de format()
         - opentype (otf)
         - truetype (ttf)
         - embedded-opentype
         - truetype-aat (Apple Advanced Typography)
         - svg
    */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
    color: #bd996d
}

h1 {
    font-family: 'Alista', Times, serif;
    font-size: 3em;
}