@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%*/
}

body {
    background-image: linear-gradient(to right, #032029, #0C345C);
}

main {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 5px 5px 15px rgb(17, 32, 46);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #4B74F5;
    text-align: center;
    text-shadow: 1px 1px 2px #3957b9;
}

h2 {
    color: #8D9AF5;
}

p {
    text-align: justify;
}